<section class="section footer-top">
        <div class="container">
          <div class="row">
             <div class="icono"><img src="../templates/96 dolphin/images/footer.jpg"></div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-6">
                  <div class="list-item-header">
                    contáctanos
                  </div>
                  <div class="contact-details">
                    <div class="media">
                      <div class="media-left contact-media-left">
                        <p>Dirección</p>
                      </div>
                      <div class="media-body">
                        <p>Calle 26 &amp; Carrera 12, Ciénaga-Magdalena</p>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left contact-media-left">
                        <p>Teléfono</p>
                      </div>
                      <div class="media-body">
                        <p>+300 231 0391 </p>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left contact-media-left">
                        <p>Teléfono fijo</p>
                      </div>
                      <div class="media-body">
                        <p>+440 231 258 12</p>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left contact-media-left">
                        <p>Correo</p>
                      </div>
                      <div class="media-body">
                        <p>yourgetpet@mail.com</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="list-item-header">
                    NUESTRAS REDES
                  </div>
                  <div class="list-group footer-list-group">
                    <a href="#" class="list-group-item">Facebook</a>
                    <a href="#" class="list-group-item">Twitter</a>
                    <a href="#" class="list-group-item">Instagram</a> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12 col-sm-0">
                  <div class="list-item-header">
                    canales de denuncia al matrato animal.
                  </div>
                  <div class="list-group footer-list-group">
                    <p class="list-group-item">Comunícate a las líneas de atención: 305 398 58 53 - 305366 84 24</p>
                    <a href="https://bogota.gov.co/sdqs/"target=”_blank” title="DENUNCIA AL MALTRATO ANIMAL" class="list-group-item">Ingresa y reporta tu denuncia de maltrato animal a la página web de Bogotá te Escucha (https://bogota.gov.co/sdqs)</a>
                    <a href="https://www.animalesbog.gov.co/"target=”_blank” title="PROTECCIÓN ANIMAL" class="list-group-item">Escribe tu denuncia, petición, queja o reclamo al correo electrónico: proteccionanimal@animalesbog.gov.co</a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
      </section>