<section class="footer-bottom">
        <div class="container">
          <hr class="footer-devider">
          <div class="row">
            <div class="col-md-5"><p class="copyright">Copyright © 2016 Unity Technologies</p></div>
            <div class="col-md-5">
              <ul class="footer-menu">
                <li><a href="">Legal</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Policy</a></li>
                <li><a href="">Cookies</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <a id="scroll-top-div" href="" class="pull-right back-top-btn">Volver a inicio <span class="btn-icon"><i class="ion-ios-arrow-thin-up"></i></span></a>
            </div>
          </div>
        </div>
      </section>