<!-- SLIDER-->
    <section>
      <div class="fvideo">
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="../video/perrito.mp4" type="video/mp4">
          </video>
     </div> 
     
       <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-12 col-sm-12">
            <div class="contenido">
              <div class="colores">
                <h2>
                  Bienvenido al lugar en el que podrás encontrar a tu amigo peludo.
                </h2>
              </div>
              <p class="colores">
              Más que una mascota, será tu compañero de la vida.
             </p>
              <div class="movement"><a class="btn btn-default btn-theme btn-rounded-corner" href="#" role="button">Conoce a tu futuro amigo</a>
              </div>
          </div>
          </div>
        </div>
       </div>
    </section>
 <!-- SLIDER--> 